{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ project.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/projects.css' %}" rel="stylesheet">
  <script src="{% static 'js/projects.js' %}"></script>
  <style type="text/css">
      ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; }
      ul#tabs li { display: inline; }
      ul#tabs li a { color: #42454a; background-color: #dedbde; border: 1px solid #c9c3ba; border-bottom: none; padding: 0.3em; text-decoration: none; }
      ul#tabs li a:hover { background-color: #f1f0ee; }
      ul#tabs li a.selected { color: #000; background-color: #f1f0ee; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; }
      div.tabContent { border: 1px solid #c9c3ba; padding: 0.5em; background-color: #f1f0ee; }
      div.tabContent.hide { display: none; }
    </style>
     
{% endblock head %}

 <body>
  <ol class="breadcrumb">
    <li><a href="{% url 'projects' %}">{% trans 'Projects' %}</a></li>
    <li class="active">{% trans 'Project' %}</li>
  </ol>
  
  
  <project>
  <h2><a href="{% url 'project' project.slug %}">{{ project.title }}</a></h2>
  
  
  <div class="info">
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ project.create_date }}
    </span>
    <span class="user">
      <a href="{% url 'profile' project.create_user.username %}"><img src="{{ project.create_user.profile.get_picture }}"></a>
      <a href="{% url 'profile' project.create_user.username %}">{{ project.create_user.profile.get_screen_name }}</a>
    </span>
    <span class="comments">
      <span class="glyphicon glyphicon-comment"></span>
      {{ project.get_comments.count }} Comments
    </span>
    <span class="edit">
      <a href="{% url 'edit_project' project.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </span>
  </div>
    
  <br>
  <br>
  
      
  <br>
  <br>
      
  <br>
  <br>
      
  <br>
  <br>
  </project>
  
  <br>
  <br>
  
  <br>
  <br>
  <hr>
  
<div id="exTab3" >	
<ul  class="nav nav-pills">
			<li class="active">
        <a href="#1" data-toggle="tab">Project Abstract</a>
			</li>
			<li><a href="#2" data-toggle="tab">Project Description</a>
			</li>
			<li><a href="#3" data-toggle="tab">Collaborators</a>
			</li>
  		<li><a href="#4" data-toggle="tab">Materials</a>
			</li>
			<li><a href="#5" data-toggle="tab">Tags</a>
			</li>
		</ul>

			<div class="tab-content ">
			  <div class="tab-pane active" id="1">
			  <br><br>
			  <br><br>
            <div class="content">
    {{ project.get_description_as_markdown|safe }}
	  </div>
		</div>
				<div class="tab-pane" id="2">
          <div class="content">
    {{ project.get_description_as_markdown|safe }}
	  </div>
				</div>
        <div class="tab-pane" id="3">
        <ul>
          {% for each in project.get_collaborators %}
          <li><span class="user">
      <a href="{% url 'profile' each.user.username %}"><img src="{{ each.user.profile.get_picture }}"></a>
      <a href="{% url 'profile' each.user.username %}">{{ each.user.profile.get_screen_name }}</a>
    </span> </li>
          {% endfor %}
         </ul> 
          
				</div>
          <div class="tab-pane" id="4">
          <ul>
          {% for each in project.get_materials %}
          <li> {{each}}</li>
          {% endfor %}
         </ul>
				</div>
				<div class="tab-pane" id="5">
          		{% if project.get_tags %}
    <div class="tags">
      {% for tag in project.get_tags %}
        <a href="{% url 'tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}
    </div>
  {% endif %}
				</div>
		
				
				
				</div>
  </div>



<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% include 'projects/partial_project.html' with project=project %}
  {% include 'projects/partial_project_comments.html' with project=project %}
</body>
