{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/signup.css' %}" rel="stylesheet">
  <script src="{% static 'js/signup.js' %}"></script>
  <script type="text/javascript">
            toggleFields();
            console.log("Hello");
        </script>
<script type="text/javascript">
                                    $(document).ready(function() {


								//@naresh action dynamic childs
    var nextedu = 0;
    $("#add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + nextedu;
        var addRemove = "#field" + (nextedu);
        nextedu = nextedu + 1;
        var newIn = '<div id="field'+ nextedu +'"> <div class="form-group"><div class="col-md-6"><label class="col-md-6">Link name</label><input type="text" name="link-name" class="form-control" list="link-names"></div><div class="col-md-6"><label class="col-md-6">Link url</label><input type="text" name="link-url" class="form-control"></div></div>';
        var newInput = $(newIn);

        var removeBtn = '<br/><button id="remove' + (nextedu) + '" class="btn btn-danger remove-me" >Remove</button></div></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + nextedu).attr('data-source', $(addto).attr('data-source'));
        $("#count").val(nextedu);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                console.log(fieldNum);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });
    });


</script>

{% endblock head %}

{% block body %}
  <h1 class="logo"><a href="{% url 'home' %}">Equipment Lab Automation</a></h1>
  <div class="signup">
    <h2>{% trans 'Sign up' %}</h2>
    <form action="{% url 'signup' %}" method="post" role="form">
      {% csrf_token %}
      {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}">{{ field.label }}</label>
          {{ field }}
        <!-- <div id="div1"></div> -->
          {% if field.help_text %}
            <span class="help-block">{{ field.help_text|safe }}</span>
          {% endif %}
          {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
          {% endfor %}
        </div>
      {% endfor %}
        <br/>
      <fieldset id="additional_links" >
        <legend>Add external profile links</legend>
        <div class="col-md-12">
            {% for name, logo in default_links %}
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                                <img src="{% static 'img/' %}/{{ logo }}" class="img-logo"/>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="link-url" class="form-control" style="visibility:none;">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            <div id="field">
                <div id="field0">

                    <!-- Text input-->

                </div><!--end field0-->
            </div><!--end field-->
            <!-- Button -->
            <br><br>
            <div class="form-group">
                <div class="col-md-4">
                    <br>
                    <button id="add-more" name="add-more" class="btn btn-primary">Add More</button>
                </div>
            </div>
        </div>

    </fieldset>
        <br/>
        <br/>

        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
        </div>


</form>
</div>

{% endblock body %}
