{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ sample.title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/samples.css' %}" rel="stylesheet">
  <script src="{% static 'js/samples.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'samples' %}">{% trans 'Samples' %}</a></li>
    <li class="active">{% trans 'Sample' %}</li>
  </ol>
  
  <sample>
  <h2><a href="{% url 'sample' sample.slug %}">{{ sample.title }}</a></h2>
  
  
  <div class="info">
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ sample.create_date }}
    </span>
    <span class="user">
      <a href="{% url 'profile' sample.create_user.username %}"><img src="{{ sample.create_user.profile.get_picture }}"></a>
      <a href="{% url 'profile' sample.create_user.username %}">{{ sample.create_user.profile.get_screen_name }}</a>
    </span>
    <span class="comments">
      <span class="glyphicon glyphicon-comment"></span>
      {{ sample.get_comments.count }} Comments
    </span>
    <span class="edit">
      <a href="{% url 'edit_sample' sample.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </span>
  </div>
  </sample>
  

	


<div id="exTab3" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a href="#1" data-toggle="tab">Sample Abstract</a>
			</li>
			<li><a href="#2" data-toggle="tab">Sample Description</a>
			</li>
			<li><a href="#3" data-toggle="tab">Collaborators</a>
			</li>
  		<li><a href="#4" data-toggle="tab">Materials</a>
			</li>
			<li><a href="#5" data-toggle="tab">Tags</a>
			</li>
		</ul>

			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1">
            <div class="content">
    {{ sample.get_description_as_markdown|safe }}
	  </div>
		</div>
				<div class="tab-pane" id="2">
          <div class="content">
    {{ sample.get_description_as_markdown|safe }}
	  </div>
				</div>
        <div class="tab-pane" id="3">
        <ul>
          {% for each in sample.get_collaborators %}
          <li><span class="user">
      <a href="{% url 'profile' each.user.username %}"><img src="{{ each.user.profile.get_picture }}"></a>
      <a href="{% url 'profile' each.user.username %}">{{ each.user.profile.get_screen_name }}</a>
    </span> </li>
          {% endfor %}
         </ul> 
          
				</div>
          <div class="tab-pane" id="4">
          <ul>
          {% for each in sample.get_materials %}
          <li> {{each}}</li>
          {% endfor %}
         </ul>
				</div>
				<div class="tab-pane" id="5">
          		{% if sample.get_tags %}
    <div class="tags">
      {% for tag in sample.get_tags %}
        <a href="{% url 'tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}
    </div>
  {% endif %}
				</div>
		
				
				
				</div>
  </div>



<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



  
  {% include 'samples/partial_sample_comments.html' with sample=sample %}
{% endblock main %}
