<div id="field'+ nextedu +'">
<div class="form-group">
 <label class="col-md-3">Material Name*</label>
 <div class="col-md-8">
 <input type="text"  name="material[]" id="material" class="form-control" list= {{form.material_name}} > 
</div>
</div>
<br><br>

<!-- Text input-->
<div class="form-group">
 <label class="col-md-3">Material Category*</label>
 <div class="col-md-8">
 <input type="text"  name="category[]" id="category" class="form-control" list= {{form.category_list}} > 
</div>
</div>		
		<br><br>
		<hr>
	</div>