{% load online_status_tags %}
<div class="panel panel-primary">

    <div class="panel-heading" id="accordion" style="background: none;">

        <a data-toggle="collapse"  href="#collapse{{chat_id}}"><span class="glyphicon glyphicon-comment"></span></a>
        <a href="{% url 'profile' to_user.username %}">{{ to_user.profile.get_screen_name }}</a>
        <div class="{% user_status to_user %} pull-right"></div>
    </div>


<div class="panel-collapse collapse" id="collapse{{chat_id}}">
    <div class="panel-body">
        <ul class="chat">
            <li class="left clearfix"><span class="chat-img pull-left">
                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
            </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">{{ to_user.profile.get_screen_name }}</strong> <small class="pull-right text-muted">
                            <span class="glyphicon glyphicon-time"></span>{{ to_user.last_seen }}</small>
                    </div>
                    <p>
                        {{ to_message }}
                    </p>
                </div>
            </li>
            <li class="right clearfix"><span class="chat-img pull-right">
                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
            </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ from_user.last_seen }}</small>
                        <strong class="pull-right primary-font">{{ from_user.profile.get_screen_name }}</strong>
                    </div>
                    <p>
                        {{ from_message }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." name="chat-message"/>
            <span class="input-group-btn">
                <button class="btn btn-primaryZz btn-sm" id="btn-chat">
                    Send</button>
            </span>
        </div>
    </div>
</div>
</div>