<project>
  <h2><a href="{% url 'project' project.slug %}">{{ project.title }}</a></h2>
  
  
  <div class="info">
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ project.create_date }}
    </span>
    <span class="user">
      <a href="{% url 'profile' project.create_user.username %}"><img src="{{ project.create_user.profile.get_picture }}"></a>
      <a href="{% url 'profile' project.create_user.username %}">{{ project.create_user.profile.get_screen_name }}</a>
    </span>
    <span class="comments">
      <span class="glyphicon glyphicon-comment"></span>
      {{ project.get_comments.count }} Comments
    </span>
    <span class="edit">
      {% if project.editable %}
        <a href="{% url 'edit_project' project.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      {% endif %}
    </span>
  </div>
  <div class="content">
      <div id="inline" href="#project_{{ project.id}}" class="clickable">
          {{ project.get_description_as_markdown|safe|truncatewords:20 }}
      </div>
   <div style="display:none">
            <div id="project_{{ project.id}}">{{ project.get_description_as_markdown|safe }}</div>
    </div>
  </div>
  {% if project.get_tags %}
    <div class="tags">
      {% for tag in project.get_tags %}
        <a href="{% url 'tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}
    </div>
  {% endif %}
</project>