{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load online_status_tags %}

{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/scanner.css' %}" rel="stylesheet">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/projects.css' %}" rel="stylesheet">
  <script src="{% static 'js/projects.js' %}"></script>
  <link href="{% static 'css/samples.css' %}" rel="stylesheet">
  <script src="{% static 'js/samples.js' %}"></script>
  <!-- Add jQuery library -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Add mousewheel plugin (this is optional) -->
  <script src="{% static 'jquery.mousewheel.pack.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
  <script type="text/javascript">
      function hideModal(this){
      console.log(this);
        $(this).hide();
        }
  </script>
{% endblock head %}

{% block main %}

  <div class="row">
      <div class="col-md-12">
          <div class="page-header" style="float: top; position:fixed; margin-bottom:3%">
            <h1>{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<br/><small>({{ page_user.username }})</small>{% endif %}</h1>
          </div>
      </div>
  </div>
  <div class="profile">
    <div class="row">

      <div class="col-md-3 user-profile">
          <div class="row" style="float:left; position:fixed; margin-top:3%;">
              <div class="col-md-12 user-profile">
                <img src="{{ page_user.profile.get_picture }}" class="picture">
                <ul>
                  {% if page_user.profile.job_title %}
                  <li><span class="glyphicon glyphicon-briefcase"></span> {{ page_user.profile.job_title }}</li>
                  {% endif %}
                  {% if page_user.email %}
                  <li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:{{ page_user.email }}" target="_top"> {{ page_user.email }} </a> </li>
                  {% endif %}
                  {% if page_user.profile.location %}
                  <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.profile.location }}</li>
                  {% endif %}
                  {% if page_user.profile.web_page %}
                  <li><span class="glyphicon glyphicon-globe"></span> <a href="{{ page_user.profile.get_url }}" target="_blank">{{ page_user.profile.get_url }}</a></li>
                  {% endif %}
                  {% if page_user.profile.bio %}
                  <li><span class="glyphicon glyphicon-file"></span> {{ page_user.profile.get_bio }} </li>
                  {% endif %}
                    <br/>
                  {% for link in page_user.profile.get_links %}
                    <span>
                        <a href="{{ link.url }}" target="_blank"><img class="img2-logo" src="{% static 'img/' %}{{link.logo}}" alt="{{ link.name }}"></a>
                    </span>
                  {% endfor %}
                </ul>
              </div>
          </div>
      </div>

      <div class="col-md-9">
          <div class="row">
          <div class="col-md-12">
            <h1>Scanner wizard</h1>
              <div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-danger btn-circle">1</button>
            <br/>
            <span class="stepwizard-text">Scan user</span>
        </div>
        <div class="stepwizard-step">
            <a href="{% url 'scan_sample' identification%}"><button type="button" class="btn btn-primary btn-circle">2</button></a>
            <br/>
            <span class="stepwizard-text">Scan Sample</span>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-success btn-circle" disabled="disabled">3</button>
            <br/>
            <span class="stepwizard-text stepwizard-current">Scan Device</span>
        </div>
    </div>
</div>

    </div>
              </div>
          <div class="row">
          <h2>Existing sample scanned: <span style="color:gray;"><em>{{ sample.name }}</em></span></h2>
          <div class="col-md-9">
<div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <th>Sample Name</th>
                                <th>Sample ID</th>
                                <th>Tags</th>
                                <th>Description</th>
                            </tr>
                                <td><a href="{% url 'sample' sample.slug %}">{{ sample.name}}</a></td>
                                <td>{{sample.identification}}</td>
                                <td>{% for tag in sample.get_tags %}
        <a href="{% url 'sample_tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}</td>
                                <td>{{sample.description | safe}}</td>
                        </table>
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3>Project: <span><a href="{% url 'project' sample.project.slug %}">{{ sample.project.title }} </a></span></h3></div>
                                    <div class="panel-body">{{ sample.project.description | safe}}</div>
                                </div>
	  </div>
                    </div>

  </div>
  </div>

          </div>
      </div>

  <script type="text/javascript">
      $(document).ready(function() {

	$(".clickable").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: true,
		closeClick	: true,
		closeBtn : true,
		openEffect	: 'none',
		closeEffect	: 'none',
	});
	$(".clickable").mouseenter(function(data) {
	    $(this).trigger('click');
	});

});
  </script>
{% endblock main %}
