<tr>
<td>
  <a href="{% url 'device' device.slug %}">{{ device.name |truncatewords:10}}</a>
  <div class="info">
  	
  	<div id="inline" href="#device_{{ device.id}}" class="clickable">
    {{ device.get_description_as_markdown|safe|truncatewords:10 }}
  </div>
        <div style="display:none">
            <div id="device_{{ device.id}}">{{ device.get_description_as_markdown|safe }}</div>
    </div>
    
  
  <div class="content">
    {{ device.get_collaborators_comma_delimited }}
  </div>
  
  {% if device.get_tags %}
    <div class="tags">
      {% for tag in device.get_tags %}
        <a href="{% url 'device_tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
      {% endfor %}
    </div>
  {% endif %}
 
 
 <span class="user_image">
      <a href="{% url 'profile' device.create_user.username %}"><img width="40px" border-radius="20px" src="{{ device.create_user.profile.get_picture }}" alt="Profile Image"></a><br/>
      <a href="{% url 'profile' device.create_user.username %}">{{ device.create_user.profile.get_screen_name }}</a>
    </span>
   
 
  
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ device.create_date }}
    </span>
    
    <span class="comments">
      <span class="glyphicon glyphicon-comment"></span>
      {{ device.get_comments.count }} Comments
    </span>
    
    <span class="edit">
      <a href="{% url 'edit_device' device.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    </span>
    
  </div>
  </td>
  
</tr>